body {
  background-color: cornflowerblue;
}
.contenedor {
  max-width:1000px;
  margin:0 auto;
  padding: 20px;
  background-color: #ce80b7;
}
h1, h2 {
  text-align: center;
  font-family: 'Proza Libre', sans-serif;
}
div.contenido {
  width: 60%;
  margin: 30px auto 0 auto;
  font-size: 24px;
}
.contenido fieldset{
  padding: 30px;
  margin-top: 10px;
}

.contenido fieldset legend{
  color: #bbc788;
  font-weight: bold;
}
